<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TI - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/paper/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Takt Interruption</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Analyze</a>
                    </li>
                    <li>
                        <a href="/interruption/">Interruptions</a>
                    </li>
                    <li>
                        <a href="#">Administration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid page-header">
        @RenderBody()
    </div>
    <div id="footer" class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <h5 class="text-center">&copy; @DateTime.Now.Year Company, Inc.</h5>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
